img{
    max-width: 100%;
    height: auto;
}

h1,h2,h3,h4,h5,h6,p,ul,li{
    margin: 0;
    font-size: 100%;
    font-weight: normal;
}

ul,li,ol{
    list-style: none;
    padding: 0;
}
a{
    text-decoration: none;
}